# ===== Build and install directories =====
build/
install/
log/

# ===== Python virtual environments =====
venv/
.env/
*.env
msp_venv/
isaaclab_venv/
ese651_project/

# ===== Python cache and build files =====
__pycache__/
*.py[cod]
*.egg-info/
dist/

# ===== Editor and system files =====
*.swp
*.swo
.DS_Store
.idea/
.vscode/

# ===== Other caches / temporary files =====
*.log
*.tmp
IsaacLab/
